/* --- Base variables (light theme default) --- */
:root {
    --bg: #ffffff;
    --surface: #f4f4f5;
    --text: #111111;
    --text-muted: #525252;
    --primary: #000000;
    --primary-hover: #2684925b;
    --border: #000000;
    --data-1: #4ade80;
    --data-2: #4acdde;
}

/* --- Dark theme overrides --- */
[data-theme="dark"] {
    --bg: #0f0f10;
    --surface: #1c1c1e;
    --text: #f0f0f0;
    --text-muted: #cecece;
    --primary: #ffffff;
    --primary-hover: #cacaca69;
    --border: #ffffff;
}

/* --- System preference fallback (when theme = "system") --- */
@media (prefers-color-scheme: dark) {
    [data-theme="system"] {
        --bg: #0f0f10;
        --surface: #1c1c1e;
        --text: #f0f0f0;
        --text-muted: #a0a0a0;
        --primary: #818cf8;
        --primary-hover: #6366f1;
        --border: #2e2e32;
    }
}

/* --- Global base styles --- */
body {
    background-color: var(--bg);
    color: var(--text);
    font-family: sans-serif;
    transition: background-color 0.2s, color 0.2s;
    /* margin: 2rem;*/
}

html,
body {
    min-height: 100vh;
    margin: 0;
}



h1 {
    color: var(--primary);
}

.card {
    background: var(--surface);
    border: 1px solid var(--border);
    color: var(--text);
}

p {
    color: var(--text-muted);
}